MONGO_URI=mongodb://127.0.0.1:27017/FoodAid


SESSION_SECRET=food-aid-secret

CLOUDINARY_CLOUD_NAME=dekpyhlds
CLOUDINARY_API_KEY=717851461693628
CLOUDINARY_API_SECRET=axnt0K5EGJAQ-QPT_z_YzjsvJV4

GOOGLE_MAPS_API_KEY=AIzaSyDHj6P839NdtjXWy3If6sp4Pzn-wJ38RjM

PORT=3000
